<!DOCTYPE html>
<html>
    
<head>


    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="Dasechte">
    {{>header}}
    <div class="main-content">
        <a id="git" href="https://github.com/21jon/web-server-nodec"> Zum Git res</a>


    </div>    
    {{>footer}}

</body>





</html>
